.gamers-advertisement {
    background: url(/assets/images/background.png);
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    font-family: 'Muli', sans-serif;
    overflow: hidden;
}

.event-container {
      margin: 0 auto;
      width: 490px;
}

.watermark {
    color: #ff4800;
    font-size: 15px;
    position: absolute;
    top:10px;
    right:10px;
}

.countdown {
    color: #ffffff;
    overflow: hidden;
    width: 205px;
}

.timer {
    margin-top: 20px;
}

.coming-soon {
    margin-top: 40px;
}

.coming-soon span {
    text-align: center;
}

.coming-soon .coming {
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 10px;
    line-height: 8px;
    text-shadow: 2px 0 #ffffff;
}

.coming-soon .soon {
    font-size: 68px;
    font-weight: bold;
    text-shadow: 2px 0 #ffffff;
}

.secret {
    font-size: 25px;
}

.days span {
    font-size: 90px;
    line-height: 0;
    font-weight: 800;
}

.days {
    margin-left: 5px;
}

.label-days {
    margin-left: 5px;
    font-size: 25px;
}

.label-countdown {
    font-size: 15px;
}

.title {
    margin-top: 225px;
    margin-left: -35px;
}

.time {
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
}

.time > span {
    letter-spacing: 6px;
}

.-block {
    display: block;
}

.-inline {
    display: inline-block;
}

.videos {
    margin-top: 10px;
}

.videos > .-inline {
    margin-left: 9px;
}

.video, .video .video_marker {
    width: 232px;
    height: 147px;
}

.video {
    position: relative;
    cursor: pointer;
}

.video .overlay {
    height: 60%;
    position: absolute;
    margin-left: 32%;
    margin-top: 13%;
}

.-open {
    font-family: 'Open Sans', sans-serif;
}
